.item{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item h4{
    justify-self: flex-start;
    margin: 0;
}
.item h3{
    margin: 0;
    justify-self: flex-start;
}

.img{
    width: 5rem;
    flex: 0 0 auto;
    margin-right: 1rem;
}

.info{
    display: block;
}