.buttons {
    width: 60%;  /* A gombok tartományának szélessége */
    margin: 1rem auto;  /* Külső margók beállítása */
    display: flex;  /* Flexbox elrendezés használata */
    justify-content: space-around;  /* Az elemek közötti tér beállítása az elrendezés során */
}

/* Stílusok a gombokhoz */
.add, .delete, .edit {
    width: 5rem;  /* Gombok szélességének beállítása */
    height: 3rem;  /* Gombok magasságának beállítása */
    border-radius: 10px;  /* Gombok sarokkerekítése */
    margin: auto;  /* Automatikus középre igazítás */
}

.add {
    font-weight: bolder;  /* Vastag betűstílus a "Add" gombhoz */
}

.delete {
    background-color: #D00000;  /* Háttérszín beállítása a "Delete" gombhoz */
}

.edit {
    background-color: #E85D04;  /* Háttérszín beállítása az "Edit" gombhoz */
}

/* Hover állapotok a "Delete" és "Edit" gombokhoz */
.delete:hover {
    background-color: #cc4646;
}

.edit:hover {
    background-color: #de8248;
}

/* Stílusok a PrimeReact ConfirmPopup-hoz */
[class~="p-confirm-popup"] {
    background-color: rgb(250, 195, 195);  /* Háttérszín beállítása a ConfirmPopup ablaknak */
    color: red;  /* Szövegszín beállítása */
    padding: 1rem;  /* Belső tér beállítása */
    border-radius: 5px;  /* Sarokkerekítés beállítása */
}

/* Stílusok a PrimeReact ConfirmPopup lábához */
[class~="p-confirm-popup-footer"] {
    margin-top: 1rem;  /* Felső margó beállítása a lábnál */
    display: flex;  /* Flexbox elrendezés használata a lábnál */
    justify-content: flex-end;  /* Az elemek jobbra igazítása a lábnál */
}

/* Stílusok a PrimeReact ConfirmPopup gombjaihoz */
[class~="p-confirm-popup-footer"] > button {
    margin: 0.2rem;  /* Margó beállítása a gombok között a lábnál */
    border-radius: 5px;  /* Sarokkerekítés beállítása a gomboknál */
    border: none;  /* Keret eltávolítása */
    padding: 0.5rem;  /* Belső tér beállítása a gomboknál */
    width: 4rem;  /* Gombok szélességének beállítása */
    color: white;  /* Szövegszín beállítása */
    font-weight: bolder;  /* Vastag betűstílus */
}

/* Stílusok az első PrimeReact ConfirmPopup gombjához */
[class~="p-confirm-popup-footer"] > button:first-of-type {
    background-color: #FFBA08;  /* Háttérszín beállítása az első gombhoz */
}

/* Stílusok az utolsó PrimeReact ConfirmPopup gombjához */
[class~="p-confirm-popup-footer"] > button:last-of-type {
    background-color: red;  /* Háttérszín beállítása az utolsó gombhoz */
}

/* Stílusok a PrimeReact Toast-hoz */
[class~="p-toast"] {
    background-color: rgb(255, 236, 236);  /* Háttérszín beállítása a Toast üzenetnek */
    border-radius: 5px;  /* Sarokkerekítés beállítása */
}

/* Stílusok a PrimeReact Toast bezáró ikonjához */
[class~="p-toast-icon-close"] {
    margin: 1rem;  /* Margó beállítása a bezáró ikonhoz */
}

/* Stílusok a PrimeReact Toast üzenet ikonjához */
[class~="p-toast-message-icon"] {
    width: 2rem;  /* Ikon szélességének beállítása */
    height: 2rem;  /* Ikon magasságának beállítása */
    margin-top: auto;  /* Felső margó beállítása */
    margin-bottom: auto;  /* Alsó margó beállítása */
    margin-left: 0.5rem;  /* Bal margó beállítása */
    margin-right: 1rem;  /* Jobb margó beállítása */
    color: red;  /* Szövegszín beállítása */
}
