/* Stílusok a ProductAdd komponens űrlapjához */
.formCard {
    width: 40%;  /* Űrlap szélességének beállítása */
    margin-top: 3rem;  /* Felső margó beállítása */
}

.formCard > * {
    display: block;  /* Elemek blokk formában való megjelenítése */
}

.dropdown {
    border: 1px solid rgba(0, 0, 0, 0.404);  /* Szegély beállítása */
    border-radius: 10px;  /* Sarokkerekítés beállítása */
    padding: 0.6rem;  /* Belső tér beállítása */
    font-size: larger;  /* Betűméret beállítása */
    min-width: 10rem;  /* Minimális szélesség beállítása */
    margin-bottom: 1rem;  /* Alsó margó beállítása */
}

/* Stílusok a PrimeReact Dropdown opcióihoz */
.items {
    background-color: white;  /* Háttérszín beállítása */
    border-radius: 10px;  /* Sarokkerekítés beállítása */
    border: 1px solid rgba(0, 0, 0, 0.404);  /* Szegély beállítása */
    padding: 0.3rem;  /* Belső tér beállítása */
    font-size: large;  /* Betűméret beállítása */
}

.inputText,
.inputNumber {
    min-width: 30rem;  /* Minimális szélesség beállítása */
    height: 3rem;  /* Magasság beállítása */
    font-size: large;  /* Betűméret beállítása */
    border-radius: 10px;  /* Sarokkerekítés beállítása */
    outline: none;  /* Keret eltávolítása */
    border: 1px solid rgba(0, 0, 0, 0.404);  /* Szegély beállítása */
    text-indent: 0.5rem;  /* Szöveg behúzása */
    margin-bottom: 1rem;  /* Alsó margó beállítása */
}

/* Stílusok a textarea-hoz */
.textArea {
    padding: 0.5rem;  /* Belső tér beállítása */
}

/* Stílusok az érvénytelen állapotokhoz */
.invalid {
    border-color: red;  /* Keret színének beállítása érvénytelen állapotban */
}

/* Stílusok a letiltott "Add" gombhoz */
.addButton:disabled {
    background-color: gray;  /* Háttérszín beállítása letiltott állapotban */
}

/* Stílusok az API hibaüzenetekhez */
.error {
    background-color: rgb(255, 73, 73);  /* Háttérszín beállítása */
    text-align: center;  /* Szöveg igazítása középre */
    padding: 1rem;  /* Belső tér beállítása */
    width: 90%;  /* Szélesség beállítása */
    margin: auto;  /* Középre igazítás */
    color: white;  /* Szövegszín beállítása */
}

/* Stílusok a PrimeReact Toast-hoz */
[class~="p-toast"] {
    background-color: rgb(255, 236, 236);  /* Háttérszín beállítása */
    border-radius: 5px;  /* Sarokkerekítés beállítása */
}

/* Stílusok a PrimeReact Toast bezáró ikonjához */
[class~="p-toast-icon-close"] {
    margin: 1rem;  /* Margó beállítása a bezáró ikonhoz */
}

/* Stílusok a PrimeReact Toast üzenet ikonjához */
[class~="p-toast-message-icon"] {
    width: 2rem;  /* Ikon szélességének beállítása */
    height: 2rem;  /* Ikon magasságának beállítása */
    margin-top: auto;  /* Felső margó beállítása */
    margin-bottom: auto;  /* Alsó margó beállítása */
    margin-left: 0.5rem;  /* Bal margó beállítása */
    margin-right: 1rem;  /* Jobb margó beállítása */
    color: red;  /* Szövegszín beállítása */
}

/* Stílusok a "Cancel" gombhoz */
.cancelButton {
    background-color: #9D0208;  /* Háttérszín beállítása */
    margin-left: 1rem;  /* Bal margó beállítása */
}
