body {
  margin: 0;  /* Margin beállítása 0-ra, hogy ne legyen oldalsó tér */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  /* Betűtípus beállítása a rendszer alapértelmezett fontokra */
  -webkit-font-smoothing: antialiased;  /* Betűélek simítása WebKit alapú böngészőkben */
  -moz-osx-font-smoothing: grayscale;  /* Betűélek szürkítése Firefox böngészőben */
  background: fixed linear-gradient(180deg, #FFBA08 0%, #FAA307 6.87%, #F48C06 14.91%, #E85D04 23.63%, #DC2F02 34.72%, #D00000 46.24%, #9D0208 58.37%, #6A040F 70.62%, #370617 82.21%, #03071E 89.7%);  /* Háttérszín beállítása lineáris gradienttel */
}

/* Stílusok a kódblokkokhoz */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;  /* Betűtípus beállítása kódblokkokhoz */
}
